<template>
	<div>
		<h3>Persons</h3>

		<form class="mb-3" @submit.prevent="addPerson">
			<div class="form-group">
				<input type="text" v-model="person.first_name" placeholder="First Name" class="form-control">
			</div>
			<div class="form-group">
				<input type="text" v-model="person.last_name" placeholder="Last Name" class="form-control">
			</div>
			<div class="form-group">
				<input type="text" v-model="person.contact_number" placeholder="Contact Number" class="form-control">
			</div>

			<button type="submit" class="btn btn-primary btn-block">Submit</button>
		</form>

		<div class="card card-body mb-2" v-for="person in persons" v-bind:key="person.id">
			<h3> {{ person.last_name }}, {{ person.first_name }} </h3>
			<p> {{ person.contact_number }} </p>
			<hr>

			<button class="btn btn-warning mb-2" @click="editPerson(person)">Edit</button>
			<button class="btn btn-danger" @click="deletePerson(person.id)">Delete</button>
		</div>

	</div>
</template>

<script>
	export default {
		data() {
			return {
				persons: [],
				person: {
					id: '',
					first_name: '',
					last_name: '',
					contact_number: '',
				},
				edit: false
			}
		},

		created() {
			this.fetchPersons()
		}, 

		methods: {
			fetchPersons(){
				fetch('api/person')
					.then(res => res.json())
					.then(res => {
						console.log(res.persons)
						this.persons = res.persons
					})
			}, 

			deletePerson(id){
				if(confirm('Are you sure?')){
					fetch(`api/person/${id}` , {
						method: 'delete'
					})
						.then(res => res.json())
						.then(res => {
							alert('Person Deleted.')
							this.fetchPersons()
						})
				}
			},

			addPerson() {
				if(this.edit === false){
					fetch('api/person', {
						method: 'post',
						body: JSON.stringify(this.person),
						headers: {
							'content-type': 'application/json'
						}
					})
						.then(res => res.json())
						.then(res => {
							if(res['result'] === 'success'){
								alert('Person Added')
								this.clearFields()
								this.fetchPersons()
							}else{
								alert('Wrong input');
							}
						})
				}else{
					fetch(`api/person/${this.person.id}`, {
						method: 'put',
						body: JSON.stringify(this.person),
						headers: {
							'content-type': 'application/json'
						}
					})
						.then(res => res.json())
						.then(res => {
							if(res['result'] === 'success'){
								alert('Person Updated')
								this.clearFields()
								this.edit = false
								this.fetchPersons()
							}else{
								alert('Wrong input');
							}
						})

				}
			},

			editPerson(person) {
				this.edit = true
				this.person.id = person.id
				this.person.first_name = person.first_name
				this.person.last_name = person.last_name
				this.person.contact_number = person.contact_number
			}, 

			clearFields(){
				this.person.first_name = '';
				this.person.last_name = '';
				this.person.contact_number = '';
			}

		}

	}

</script>